@import '../../../public/assets/mixin/mixin';

.about-me {
  margin: 0 50px 0 50px;
  height: 100vh;
}

.about-me-content {
  @include flex-box(column, center, center);
  margin: 0 50px 0 50px;
  width: 80vw;
  height: 100vh;
  font-size: 28px;
  line-height: 1.2;
}

h1 {
  font-size: 48px;
}



.location{
  height: 64px;
  width: 64px;
}

.me{
  @include flex-box(row, center,space-evenly);
  gap: 150px;
}

.pins{
  margin-top: 50px;
  @include flex-box(column, center, center);
}
