@import '../../../public/assets/mixin/mixin';

.about-me {
  margin: 0 50px 0 50px;
  height: 100vh;
}

.about-me-content {
  @include flex-box(column, center, center);
  width: 80vw;
  height: 100vh;
  font-size: 28px;
  line-height: 1.2;
}

h1 {
  font-size: 48px;
}


.location {
  height: 64px;
  width: 64px;
}

.me {
  @include flex-box(row, center, space-evenly);
  gap: 150px;
}

.pins {
  margin-top: 50px;
  @include flex-box(column, center, center);
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .about-me-content {
    font-size: 24px;
  }
}

@media screen and (max-width: 668px) {
  .me {
    gap: 80px;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 38px;
  }
}

@media screen and (max-width: 480px) {
  .me {
    gap: 50px;
  }
  .location {
    height: 44px;
    width: 44px;
  }

}
