@import '../../../public/assets/mixin/mixin';

.about-me {
  margin: 100px 50px 0 50px;
  height: 100vh;
  scroll-margin-top: 80px;
}

.about-me-content {
  @include flex-box(column, center, center);
  width: 80vw;
  height: 100vh;
  font-size: 28px;
  line-height: 1.2;
}

h1 {
  font-size: 48px;
}


.location {
  height: 64px;
  width: 64px;
}

.me {
  @include flex-box(row, center, space-evenly);
  gap: 150px;
}

.pins {
  margin-top: 50px;
  @include flex-box(column, center, center);
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .about-me-content {
    font-size: 24px;
  }
}

@media screen and (max-width: 668px) {
  .me {
    gap: 80px;
  }
}

@media screen and (max-width: 550px) {
  .about-me {
    margin: 100px 30px 0 30px;
  }
  h1 {
    font-size: 38px;
  }
}

@media screen and (max-width: 480px) {
  .me {
    gap: 50px;
  }
  .location {
    height: 44px;
    width: 44px;
  }
  .pins{
    >p {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 380px) {
  .me {
    gap: 30px;
  }
  .pins{
    >p {
      font-size: 18px;
    }
  }
  h1 {
    font-size: 32px;
  }
  .about-me-content {
    font-size: 20px;
  }
}

@media screen and (max-height: 430px) and (orientation: landscape) {
  h1 {
    margin-bottom: 100px;
  }
}
