.contact-form {
width: 300px;
}

.contact-form-input {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

button {
  margin-top: 20px;
  background-color: rgb(0, 200, 250);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding : 5px 40px;
}
