@import '../../../../public/assets/mixin/mixin';

header {
  @include flex-box(row, center, space-between);
  padding: 0 50px 0 50px;
  background-image: linear-gradient(to right, rgb(16, 20, 20), rgb(1, 115, 240));


  > img {
    height: 80px;
    width: 80px;
  }
}

a {
  color: white !important;
  font-size: 24px;
  padding-left: 20px;

  &:hover {
    color: rgb(0, 215, 254) !important;
  }

  &:active {
    color: rgb(16, 20, 20) !important;
  }
}

