@import '../../../../public/assets/mixin/mixin';

header {
  @include flex-box(row, center, center);

  background-image: linear-gradient(to right, rgb(16, 20, 20), rgb(1, 115, 240));

}

.content {
  @include flex-box(row, center, space-between);
  max-width: 1920px;
  width: 100%;
  padding: 0 50px;

  > img {
    height: 80px;
    width: 80px;
  }
}

.links {
  display: flex;
  gap: 20px;
}

.menu {
  display: none;
}

.lang{
  height: 20px;
  width: 35px;
  padding: 0;
  border: none;

  >img{
    height: 100%;
    width: 100%;
  }
}


a {
  position: relative;
  text-decoration: none;
  color: inherit;
  font-size: 24px;


  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px; // Abstand zum Text
    width: 0;
    height: 2px; // Dicke der Linie
    background-color: currentColor;
    transition: width 0.3s ease;
  }

  &:hover::after {
    width: 100%;
  }

  &:active {
    color: rgb(16, 20, 20) !important;
  }
}

@media screen and (max-width: 600px) {
  a {
    font-size: 20px;
  }
}

@media screen and (max-width: 560px) {
  .links {
    display: none;
  }
  .menu {
    display: block;
  }

  .content {
    padding: 0 10px;
  }
}

