@import '../../../../public/assets/mixin/mixin';

header {
  @include flex-box(row, center, space-between);
  width: 100%;
  > img {
    height: 80px;
    width: 80px;
  }
}

a {
  color: white !important;
  font-size: 24px;
  padding-left: 20px;
  &:hover{
    color: rgb(9, 230, 244) !important;
  }
}

