@import '../../../public/assets/mixin/mixin';

.projects {
  height: 100vh;
  margin: 100px 50px 0 50px;
  scroll-margin-top: 80px;
}

.btn-left {
  background-color: transparent;
  z-index: 50;
  position: absolute;
  left: 10px;
  width: 5%;
  height: 15%;
  cursor: pointer;
}

.btn-right {
  background-color: transparent;
  z-index: 50;
  position: absolute;
  right: 10px;
  width: 5%;
  height: 15%;
  cursor: pointer;
}


h1 {
  font-size: 48px;
}


//swiper down here

swiper-container {
  height: 80%;
}

swiper-slide {
  background: rgb(16, 20, 20);
  @include flex-box(row, center, center);
}

//swiper ends here
