@import '../../../public/assets/mixin/mixin';

.projects {
  height: 100vh;
  margin: 100px 50px 0 50px;
  scroll-margin-top: 80px;
}

h1 {
  font-size: 48px;
}


swiper-container {
  height: 80%;
}

swiper-slide {
  background: rgb(16, 20, 20);
  @include flex-box(row, center, center);
}


