@import '../../../public/assets/mixin/mixin';

.projects {
  height: 100vh;
  margin: 0 50px 0 50px;
  scroll-margin-top: 80px;
}

h1 {
  font-size: 48px;
}


swiper-container {
  height: 80%;
}

swiper-slide {
  background: rgb(16, 20, 20);
  @include flex-box(row, center, center);
}

@media screen and (max-width: 900px)  and (orientation: landscape) {
  swiper-container::part(pagination-bullet) {
display: none !important;
  }
}
@media screen and (max-height: 430px) and (orientation: landscape) {
  .projects {
    margin: 200px 30px 0 30px;
  }
  h1{
    margin-bottom: 100px;
  }
  swiper-container {
    height: 95%;
  }
}
@media screen and (max-width: 550px) {
  h1 {
    font-size: 38px;
  }
  .projects {
    height: 100vh;
    margin: 100px 30px 0 30px;
    scroll-margin-top: 80px;
  }
}

@media screen and (max-width: 440px) {
  swiper-container::part(button-next),
  swiper-container::part(button-prev) {
    display: none !important;
  }
}

@media screen and (max-width: 380px) {

  h1 {
    font-size: 32px;
  }
}

@media screen and (max-width: 340px) {

}

