@import '../../../public/assets/mixin/mixin';

.contact-dialog{
  margin: 0 50px 0 50px;
  height: 80vh;
}

h1 {
font-size: 48px;
}

.contact-form {
  @include flex-box(column, center, center);
  margin-top: 200px;
 }

//is added to highlight the contact form
.highlight {
  box-shadow: 0 0 10px rgb(0, 215, 254);
  transition: outline 0.3s ease;
}

.form-field{
  width: 400px;
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 38px;
  }
  .form-field{
    width: 350px;
  }
}

@media screen and (max-width: 380px) {

  h1 {
    font-size: 32px;
  }
  .form-field{
    width: 300px;
  }
}
