
@import '../../../public/assets/mixin/mixin';

.contact-dialog {
  @include flex-box(column, center, center);
  margin: 0 50px 0 50px;
  height: 80vh;
  scroll-margin-top: -95px;
}

.contact-content{
  @include flex-box(column, center, center);
  max-width: 1920px;
}

h1 {
  font-size: 48px;
}


.contact-form {
  @include flex-box(column, center, center);
  margin-top: 100px;
  gap: 15px;
}

::ng-deep .mat-mdc-checkbox .mdc-form-field > label {
  font-size: 16px;
}

.error-msg{
  font-size: 16px;
}

.highlight {
  box-shadow: 0 0 10px rgb(0, 215, 254);
  transition: outline 0.3s ease;
}

.form-field {
  width: 400px;
}

.textarea {
  height: 550px;
}

@media screen and (min-width: 2800px) {
  .contact-dialog  {
    height: 45vh;
  }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  .contact-form {
    margin-top: 100px;
  }
}

@media screen and (max-height: 430px) and (orientation: landscape) {
  .contact-dialog {
    margin-top: 300px;
    height: 100vh;
  }
}
@media screen and (max-width: 1770px) {
  .contact-dialog {
    scroll-margin-top: -20px;
  }
}
@media screen and (max-width: 450px) {
  .contact-dialog {
    margin: 0 30px 0 30px;
    height: auto;
  }

  h1 {
    font-size: 38px;
  }
  .form-field {
    width: 350px;
  }
}

@media screen and (max-width: 380px) {
  .contact-dialog {
    margin-bottom: 80px;
    scroll-margin-top: 110px;
  }
  h1 {
    font-size: 32px;
  }
  .form-field {
    width: 300px;
  }
}

