<section id="contact-dialog" class="contact-dialog">
  <div class="headline">
    <h1>{{ 'CONTACT.TITLE' | translate }}</h1>
  </div>

  <div class="contact-content">
    <form #contactForm="ngForm" class="contact-form" (ngSubmit)="onSubmit(contactForm)">
      <mat-form-field class="form-field">
        <mat-label>Name</mat-label>
        <input [(ngModel)]="contactData.name" #emailInput matInput
               required
               pattern="^[A-Za-zÀ-ÖØ-öø-ÿÄÖÜäöüß'’\-]+(?: [A-Za-zÀ-ÖØ-öø-ÿÄÖÜäöüß'’\-]+)+$"
               placeholder="{{ 'CONTACT.FORM.NAME' | translate }}" name="name"
               #name="ngModel">
        @if (name.invalid) {
          <mat-error>{{ 'CONTACT.FORM.ERROR.NAME' | translate }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>{{ 'CONTACT.FORM.EMAIL' | translate }}</mat-label>
        <input
          [(ngModel)]="contactData.email"
          name="email"
          matInput
          placeholder="pat@example.com"
          required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
          #email="ngModel"
        />
        @if (email.invalid) {
          <mat-error>{{ 'CONTACT.FORM.ERROR.EMAIL' | translate }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="form-field" style="height: 250px">
        <mat-label>{{ 'CONTACT.FORM.MESSAGE' | translate }}</mat-label>
        <textarea style="height: 190px" class="textarea" [(ngModel)]="contactData.message" name="message" #message="ngModel" matInput required></textarea>
        @if (message.invalid) {
          <mat-error>{{ 'CONTACT.FORM.ERROR.MESSAGE' | translate }}</mat-error>
        }
      </mat-form-field>
      <mat-checkbox (change)="privacyAccepted = $event.checked">{{ 'CONTACT.CHECKBOX' | translate }}</mat-checkbox>
      <button type="submit" matButton="outlined" class="button-transparent"
              [disabled]="contactForm.invalid || !privacyAccepted">{{ 'CONTACT.FORM.SEND_BUTTON' | translate }}
      </button>
    </form>
    <app-snackbar></app-snackbar>
  </div>
</section>
