@import '../../../public/assets/mixin/mixin';

h1 {
  font-size: 48px;

}

.skills{
  margin: 0 50px 0 50px;
  height: 100vh;
}

.skill-content{
  @include flex-box(row, center, center);
  margin-top: 100px;
  height: 80%;
}

.skills-txt{
  font-size: 28px;
  line-height: 1.2;
  width: 50%;
}

.skill-icons{
  @include flex-box(row, center, center);
  display: grid;
  grid-template-columns: repeat(5, 85px);
  gap: 50px;
  width: 50%;
  >img{
    height: 116px;
    width: 104px;
  }
}

.contact-btn{
  @include flex-box(row, center, flex-end);
  margin-top: 50px;
}

@media screen and (max-width: 1024px) {
  .skill-content {
    @include flex-box(column, center, center);
    gap: 50px;
  }

  .skills-txt{
    font-size: 24px;
    width: 80%;
  }
}
@media screen and (max-width: 900px)  and (orientation: landscape) {
  .skill-content {
margin-top: 50px;
  }
}
@media screen and (max-height: 430px) and (orientation: landscape) {
  h1 {
    margin-bottom: 250px;
  }
  .skills {
    margin: 150px 30px 0 30px;
  }
  .skill-content {
    @include flex-box(column, center, center);
  }
}
@media screen and (max-width: 650px) {
  .skill-icons{
    >img {
      height: 80px;
      width: 80px;
    }
  }
  .skill-icons {
    grid-template-columns: repeat(5, 40px);
  }
}

@media screen and (max-width: 550px) {
  .skills{
    margin: 0 30px 0 30px;
  }
  .skill-icons{
    >img {
      height: 60px;
      width: 60px;
    }
  }
  .skills-txt{
    font-size: 24px;
    width: 95%;
    margin-bottom: 50px;
  }
  h1 {
    font-size: 38px;
  }
}

@media screen and (max-width: 480px) {
  .skill-icons {
    gap: 25px;
  }
}

@media screen and (max-width: 380px) {
  .skills-txt {
    font-size: 20px;
  }
  .skill-icons {
    grid-template-columns: repeat(4, 40px);
  }
}


