.impressum {
  margin: 0;
  font-size: 24px;
  padding-left: 50px;
  padding-right: 50px;
  line-height: 1.2;
  background-image: linear-gradient(90deg, rgb(16, 20, 20), rgb(1, 115, 240));
}

h1{
  margin-top: 0;
}

.vermerk{
  font-size: 12px;
}

@media screen and (max-width: 330px) {
  .impressum {
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
