@import '../../../public/assets/mixin/mixin';


p {
  font-size: 32px;
}

h1 {
  font-size: 112px;
}

h2 {
  font-size: 42px;
}

.landing-page {
  @include flex-box(column, center, center);
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(90deg, rgb(16, 20, 20), rgb(1, 115, 240));

}

.button-container {
  @include flex-box(row, center);
  gap: 60px;
  margin-top: 120px;
}

.matButton {
  font-size: 24px;
}
