@import '../../../public/assets/mixin/mixin';

.landing-page {
  @include flex-box(column, center, center);
  height: 100vh;
  background-image: linear-gradient(90deg, rgb(16, 20, 20), rgb(1, 115, 240));
}

.landing-page-content {
  @include flex-box(column, center, center);
  max-width: 1920px;
  margin: 0 10px 0 10px;
}

.button-container {
  @include flex-box(row, center);
  gap: 60px;
  margin-top: 85px;
}

.matButton {
  font-size: 24px;
}

@media screen and (max-height: 430px) and (orientation: landscape) {
  p {
    margin-bottom: 50px;
  }
  .button-container {
    margin: 0;
  }
}

@media screen and (max-width: 550px) {

  p {
    text-align: center;
  }
}

@media screen and (max-width: 380px) {

  .button-container {
    gap: 30px;
  }
}

@media screen and (max-width: 335px) {
  .button-container {
    gap: 15px;
  }
}


