@import '../../../public/assets/mixin/mixin';


p {
  font-size: 32px;
}

h1 {
  font-size: 112px;
}

h2 {
  font-size: 42px;
}

.landing-page {
  @include flex-box(column, center, center);
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(90deg, rgb(16, 20, 20), rgb(1, 115, 240));

}

.button-container {
  @include flex-box(row, center);
  gap: 60px;
  margin-top: 120px;
}

.matButton {
  font-size: 24px;
}

@media screen and (max-height: 430px) and (orientation: landscape) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 32px;
  }
  p {
    font-size: 24px;
    margin-bottom: 50px;
  }
  .button-container {
    margin: 0;
  }
}

@media screen and (max-width: 700px) {
  p {
    font-size: 28px;
  }

  h1 {
    font-size: 90px;
  }

  h2 {
    font-size: 42px;
  }
}

@media screen and (max-width: 600px) {
  p {
    font-size: 24px;
  }

  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 34px;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 28px;
  }
  p {
    font-size: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  p {
    font-size: 18px;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
  }
  .button-container {
    gap: 30px;
  }
}

@media screen and (max-width: 330px) {
  .button-container {
    gap: 15px;
  }
}
