@import '../../../public/assets/mixin/mixin';

p {
  font-size: 24px;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 42px;
}

.landing-page {
  @include flex-box(column, center, center);
  height: 100vh;
  width: 100vw;

}

.button-container {
  @include flex-box(row, center);
  gap: 60px;
}
