@import '../../../../public/assets/mixin/mixin';

.single-project {
  @include flex-box(column, space-between, center);
  width: 65vw;
  height: 65vh;
  border: 1px solid rgb(0, 215, 254);
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(0, 215, 254);


  .project-img {
    width: 50%;
    height: 95%;
    border-radius: 10px;
  }
}

.project-info {
  @include flex-box(row, center, center);
  margin: 20px;
}

.project-txt {
  @include flex-box(column, flex-start, center);
  margin-right: 20px;
  width: 90%;

  > h1 {
    font-size: 48px;
  }

  > p {
    line-height: 1.2;
    font-size: 24px;
  }
}

.project-btn {
  margin-top: 10%;
  display: flex;
  gap: 20px;
}

.button-transparent {
  border: 2.5px solid white !important;
  border-radius: 10px !important;
  color: white !important;
  font-size: 28px !important;
  padding: 20px 35px !important;
  font-weight: 500 !important;
}

@media screen and (max-width: 1310px) {

  .button-transparent {
    font-size: 24px !important;
    padding: 20px 35px !important;
  }

  .project-txt {
    > p {
      line-height: 1.2;
      font-size: 18px;
    }
  }

  .button-transparent {
    font-size: 22px !important;
  }

}

@media screen and (max-width: 893px) {
  .project-info {
    @include flex-box(column, space-between, center);
    >img{
      width: 800px;
      height: 500px;
    }
  }

  .button-transparent {
    font-size: 18px !important;
  }

  .project-btn {
    margin: 10px 0 20px 0;
  }

}
