@import '../../../../public/assets/mixin/mixin';

.single-project {
  @include flex-box(column, space-between, center);
  width: 45vw;
  height: 45vh;
  border: 1px solid rgb(0, 215, 254);
  border-radius: 10px;

  &:hover {
    box-shadow: 0 0 10px rgb(0, 215, 254);
    color: white;
    transform: scale(1.1);

  }

  img {
    width: 450px;
    height: 350px;
    border-radius: 10px;
  }
}

.project-info {
  @include flex-box(row, center, center);
  gap: 20px;
}

.project-txt {

}

.project-btn{
  display: flex;
  gap: 10px;
}

.button-blue{
  background-image: linear-gradient(to right, rgb(0, 215, 254), rgb(1, 115, 240)) !important;
  color: white !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  padding : 5px 20px !important;
  border-radius: 10px !important;
}

.button-transparent{
  border: 1px solid rgb(1, 252, 255);
  border-radius: 10px !important;
  color: rgb(0, 215, 254) !important;
  font-size: 14px !important;
  padding : 5px 20px !important;
  font-weight: 500 !important;
}

