@import '../../../../public/assets/mixin/mixin';

.single-project {
  @include flex-box(column, space-between, center);
  width: 65vw;
  height: 65vh;
  border: 1px solid rgb(0, 215, 254);
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(0, 215, 254);


  .project-img {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    height: 95%;
    border-radius: 10px;
  }
}

.project-info {
  @include flex-box(row, center, center);
  width: 95%;
  margin-left: 20px;
}

.project-txt {
  @include flex-box(column, flex-start, center);
  margin-right: 20px;
  width: 90%;


  > h1 {
    font-size: 48px;
  }

  > p {
    line-height: 1.2;
    font-size: 24px;
  }
}

.project-btn {
  margin-top: 10%;
  display: flex;
  gap: 20px;
}

.button-transparent {
  border: 2.5px solid white !important;
  border-radius: 10px !important;
  color: white !important;
  font-size: 28px !important;
  padding: 20px 35px !important;
  font-weight: 500 !important;
}

@media screen and (max-width: 1310px) {

  .button-transparent {
    font-size: 24px !important;
    padding: 20px 35px !important;
  }

  .project-txt {
    > p {
      line-height: 1.2;
      font-size: 18px;
    }
  }

  .button-transparent {
    font-size: 22px !important;
  }

}

@media screen and (max-width: 920px) {
  .project-info {
    flex-direction: column;
    align-items: center;

    > img {
      width: 80% !important;
      height: 40% !important;
    }
  }

  .button-transparent {
    font-size: 18px !important;
  }

  .project-btn {
    margin: 10px 0 20px 0;
  }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  .single-project {
    height: 75vh;
  }
}

@media screen and (max-height: 430px) and (orientation: landscape) {
  .single-project {
    height: 76vh;
  }
  .project-info {
    @include flex-box(row, center, center);
  }

  .project-txt {
    > h1 {
      font-size: 38px;
    }

    > p {
      font-size: 16px;
    }
  }

  .project-img {
    height: 95%;
  }
}

@media screen and (max-height: 325px) and (orientation: landscape) {
  .single-project {
    height: 90vh;
  }
  .project-info {
    padding-top: 10px;
  }
}

@media screen and (max-width: 550px) {
  .project-info {
    align-items: flex-start;
  }

  .project-txt {
    > h1 {
      font-size: 38px;
    }
  }
  .project-txt {
    > p {
      font-size: 14px;
    }

    > h1 {
      font-size: 32px;
    }
  }
  .project-info {
    height: 100%;

    > img {
      width: 85% !important;
    }
  }

}

@media screen and (max-width: 450px) {
  .button-transparent {
    font-size: 14px !important;
    padding: 10px 15px !important;
  }

  .project-btn {
    margin: 10px 0 20px 0;
  }

  .single-project {
    width: 75vw !important;
  }
}



