@font-face {
  font-family: "Roboto";
  src: url("../public/assets/fonts/Roboto-VariableFont_wdth,wght.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0 50px 0 50px;
  font-family: "Roboto", sans-serif;
  background-color: rgb(5, 12, 25);
  color: white;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: rgb(1, 252, 255);
}

button {
  cursor: pointer;
}

.button-blue{
  background-color: rgb(1, 170, 254);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 24px;
  font-weight: 500;
  padding : 10px 40px;
}

.button-transparent{
  background-color: transparent;
  border: 1px solid rgb(1, 252, 255);
  border-radius: 10px;
  color: rgb(1, 252, 255);
  font-size: 24px;
  padding : 10px 40px;
  font-weight: 500;
}
