@font-face {
  font-family: "LibreCaslonText";
  src: url("../public/assets/fonts/LibreCaslonText-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0 50px 0 50px;
  font-family: "LibreCaslonText", sans-serif;
  background-color: rgb(5, 12, 25);
  color: white;
}

a {
  text-decoration: none;
  color: rgb(9, 230, 244);
}

button {
  cursor: pointer;
}

.button-blue{
  background-color: rgb(0, 200, 250);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 24px;
  font-weight: 500;
  padding : 10px 40px;
}

.button-transparent{
  background-color: transparent;
  border: 1px solid rgb(9, 230, 244);
  border-radius: 10px;
  color: rgb(9, 230, 244);
  font-size: 24px;
  padding : 10px 40px;
  font-weight: 500;
}
