
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: dark;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}
@font-face {
  font-family: "Roboto";
  src: url("../public/assets/fonts/Roboto-VariableFont_wdth,wght.ttf");
  font-weight: normal;
  font-style: normal;
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: white;
  overflow-x: hidden;
}


a {
  text-decoration: none;
  color: rgb(0, 215, 254);
}

button {
  cursor: pointer;
}

.button-blue{
  background-image: linear-gradient(to right, rgb(0, 215, 254), rgb(1, 115, 240)) !important;
  color: white !important;
  font-size: 24px !important;
  font-weight: 500 !important;
  padding : 10px 40px !important;
  border-radius: 10px !important;
}

.button-transparent{
  border: 2.5px solid white !important;;
  border-radius: 10px !important;
  color: white !important;
  font-size: 28px !important;
  padding : 10px 40px !important;
  font-weight: 500 !important;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:  white;
  border-radius: 10px;
}

@media screen and (max-width: 550px) {
  .button-transparent{
    font-size: 18px !important;
    padding : 10px 20px !important;
  }
}
