@import '../../../../public/assets/mixin/mixin';

footer {
  @include flex-box(row, center, space-between);
  margin: 0 50px 0 50px;

  > img {
    height: 80px;
    width: 80px;
  }
}

.menu {
  display: none;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;

  > p {

    > a {
      text-decoration: none;
      color: white;
    }
  }

}

.social-media {
  gap: 20px;
  display: flex;

  > a {
    cursor: pointer;
    border-radius: 15px;

    &:hover {
      scale: 1.3;
      box-shadow: 0 0 10px rgb(0, 215, 254);

    }
  }
}

@media screen and (max-width: 470px) {
  .menu {
    display: block;
  }
  .social-media {
    display: none;
  }
  footer {
    margin: 0 10px 0 10px;

    > img {
      height: 60px;
      width: 60px;
    }
  }
}
@media screen and (max-height: 430px) and (orientation: landscape) {
  footer {
    margin: 250px 50px 0 50px;
  }
}
