@import '../../../../public/assets/mixin/mixin';

footer {
  @include flex-box(row, center, space-between);
  margin: 0 50px 0 50px;

  > img {
    height: 80px;
    width: 80px;
  }
}

.social-media {
  gap: 20px;
  display: flex;

  > img {
    cursor: pointer;
    border-radius: 15px;

    &:hover {
      scale: 1.3;
      box-shadow: 0 0 10px rgb(0, 215, 254);

    }
  }
}
